body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.column {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  font-family: Helvetica, serif;
  text-align: center;
  padding: 1rem;
}

.floats {
  overflow: hidden;
}

/* Floats*/
.floats .column {
  float: left;
  width: 33.333%;
}

/* Inline block */
 .blocks {
   font-size: 0;
 }

.blocks .column {
  display: inline-block;
  width: 33.333%;
}

/* Flexbox */
.flexbox {
  display: flex;
}

.flexbox .column {
  flex: 1;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
