body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.column {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
  text-align: center;
  padding: 1rem;
}

.floats {
  overflow: hidden;
}