.wrapper {
  display: flex;
  justify-content: center;
}

.dropdown {
  cursor: pointer;
  list-style-type: none;
  padding-left: 0;
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 250px;
}

.dropdown-option {
  display: flex;
  align-items: center;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  height: 50px;
  padding: 0 5px;
}

.hover {
  background-color: #dddddd;
}

.default-option {
  color: lightgray;
  border-color: black;
}

.selected {
  border: none;
  padding: 0 5px;
}

.last-option {
  border-bottom: none;
}

.dropdown-option > span {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  color: black;
  padding: 0 5px;
}

.dropdown-option > img {
  height: 30px;
  padding: 0 5px;
}

.selected-option {
  background-color: #7184e9;
}
