.wrapper,
.task1,
.task2,
.task3,
.task4,
.task5,
.task6,
.task__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task__form {
  flex-grow: 1;
}

.form__element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /*flex-grow: 1;*/
}

.form__label {
  /*width: 100%;*/
  flex: 1;
}